  <!--post-->
  <div class="container">
        <div class="row">
         <div class="col-md-6">
             <div class="card border-dark mb-3">
               <div class="card-header">
                  {{title}}
               </div>
               <div class="card-body">
                {{content}}
                <button type="button" class="btn btn-light border border-dark">Update</button>
                 <button type="button" class="btn btn-light border border-dark">Delete</button>
               </div>
               <div class="card-footer"><small class="text-muted">Created {{format_date date_created}} by {{user.username}}</small></div>
             </div>
       </div>
          </div>
         </div>
<!--comments-->
         <div class="container">
          <div class="row">
           <div class="col-md-6">
               <div class="card border-dark mb-3">
                 <div class="card-header">
                   Add A Comment
                 </div>
                 <div class="card-body">
                  <form class="form comment-form">
                      <div class="form-group">
                      <label for="comment-name">Name</label>
                      <input type="text" class="form-control" id="comment-name">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-light border border-dark comment-button" id="{{id}}">Submit</button>
                  </form>

                  <hr/>
                  <h5>Comments</h5>
                  {{#each comments as |comment|}}
                  {{> comment-details}}
                  {{/each}}
                 </div>
               </div>
         </div>
            </div>
           </div>



</div>

<script src="/js/post.js"></script>